* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter";
}
/* main style */

/* header section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a0b2e;
  padding: 30px 0;
}
.logo {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
.logospan {
  color: #f10473;
}
.menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav a {
  color: #fffffff3;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #eeaeca;
}

.btn {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  color: white;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn:hover {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.glass-btn {
  background-color: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.glass-btn:hover {
  background-color: #e8fff4;
  color: black;
  transition: 0.5s ease;
  transform: scale(1.05);
}
/* hero section */

.hero {
  background-image: url(assets/hero-bg.png);
  height: 760px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.bg-over {
  position: absolute;
}

.hero-content {
  text-align: center;
}

.hero-title {
  color: white;
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.des {
  color: rgba(255, 255, 255, 0.7);
}

.spotify {
  width: 16.67px;
}

.about {
  background: #1a0b2e;
  text-align: center;
}

.about-container,
.cards {
  width: 80%;
  margin: 0 auto;
}

.about-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 50px 0 0 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 160px;
  padding-bottom: 120px;
  gap: 80px;
}

.box-title {
  font-size: 3rem;
  color: #00ff88;
}
