* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter";
}
/* main style */

/* header section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a0b2e;
  padding: 30px 0;
}
.logo {
  color: white;
  font-size: 2rem;
  font-weight: 800;
}
.logospan {
  color: #f10473;
}
.menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

nav a {
  color: #fffffff3;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #eeaeca;
}

.btn {
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  color: white;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn:hover {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.glass-btn {
  background-color: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 1000px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.glass-btn:hover {
  background-color: #e8fff4;
  color: black;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.togol-button{
  display: none;
}

/* hero section */

.hero {
  background-image: url(assets/hero-bg.png);
  height: 760px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.bg-over {
  position: absolute;
}

.hero-content {
  text-align: center;
}

.hero-title {
  color: white;
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.des {
  color: rgba(255, 255, 255, 0.7);
}

.spotify {
  width: 16.67px;
}

.about {
  background: #1a0b2e;
  text-align: center;
}

.about-container,
.cards {
  width: 80%;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 50px 0 16px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 160px;
  padding-bottom: 120px;
  gap: 80px;
}

.box-title {
  font-size: 3rem;
  color: #00ff88;
}

/* choose-section */
.choose-section {
  background: #230e3d;
  text-align: center;
  padding: 120px 0;
}

.choose-header {
  margin-bottom: 40px;
}

.choose-box {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  text-align: left;
}
.choose-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0;
}

.choose-container {
  width: 82%;
  margin: 0 auto;
  gap: 30px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px 240px;
  grid-template-rows: 225px 225px 273px;
  grid-template-areas:
    "choose-box-1 choose-box-1 choose-box-2 choose-box-2 choose-box-2 "
    "choose-box-1 choose-box-1 choose-box-3 choose-box-3 choose-box-3 "
    "choose-box-4 choose-box-4  choose-box-4 choose-box-5 choose-box-5";
}

/*  */
.feature-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 120px 0;
  text-align: center;
}

.feature-section {
  background-color: #1a0b2e;
}

.feature-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.videos {
  width: 380px;
  height: 440px;
  background-color: #250d44;
  border-radius: 20px;
}

iframe {
  width: 100%;
  height: 214px;
}

.video-des {
  padding: 24px;
}

.video-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.time {
  color: #00ff88;
  font-size: 1rem;
  display: inline-flex;
  gap: 6px;
  margin-top: 12px;
}

.second-feature-container {
  width: 80%;
  margin: 0px auto;
  padding: 120px;
}

.host {
  background-color: #230e3d;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 20px;
}

.host-name {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.icons {
  margin-top: 16px;
}

/* footer */

footer {
  background-image: url(assets/footer-bg.png);
}

.footer-container {
  text-align: center;
  padding: 120px;
}

.footer-logo {
  font-size: 4rem;
  margin-bottom: 28px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 32px;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.copyright {
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 576px) {

  .logo{
    font-size: 1.5rem;
  }

  .menu , .btn{
    display: none;
  }

  .hero-btn{
    display: inline-flex;
    margin: 10px auto;
  }

  .togol-button{
    display: block;
  }

  .choose-container {
    width: 85%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "choose-box-1"
      "choose-box-2"
      "choose-box-3"
      "choose-box-4"
      "choose-box-5";
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }


  .feature-container {
  width: 65%;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

  .second-feature-container {
    margin: 0px auto;
    padding: 20px 15px 20px 30px;
  }

  .host {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  footer{
    width: 100%;
  }
  .links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
  }
  
.copyright {
  width: 85%;
}
}
